extends layout

block content
    div.content
        div.row.center
            div.popup
                h1.popup-title= title
                form(method='post', action= action, onsubmit=' return validateForm()', oninput='warningMessages()')


                    div.form-group
                        label.popup-label(for='name') Name:
                        input#name.popup-input(type='text', name='name', value=name, required)
                    div.form-group
                        label.popup-label(for='cost') Cost:
                        input#cost.popup-input(type='number', name= 'cost', placeholder='Enter cost of bill', value=cost required)
                    div#spendingTooMuch.error-message(style='display:none; color:orange; margin-top: 5px;') Warning! You're going over budget.
                    div#valueExceedError.error-message(style='display:none; color:red; margin-top: 5px;') You can't use more than you have.
                    div.row.space-around
                        button.btn(type='submit') Confirm
                        a.btn(href=`/settings/bills/`) Cancel
