extends layout

block content
    div.content
        div.row.center
            div.popup
                h1= title
                    h2 Are you sure you want to delete '#{income.name}'?
                    form(action=`/settings/income/${income._id}/delete`, method="post")
                        button.btn(type="submit") Delete
                        a.btn.space(href='http://localhost:3000/settings/income') Cancel