extends layout

block content
    div.content
        div.row.center
            div.popup
                h1= title
                    h2 Are you sure you want to delete '#{bill.name}'?
                    form(action=`/settings/bills/${bill._id}/delete`, method="post")
                        button.btn(type="submit") Delete
                        a.btn.space(href='/settings/bills') Cancel